.NewAnswer {
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  margin-top: 8px;
  font-size: 17px;
  font-family: Georgia, TimesNewRoman, serif;
  border-radius: 3px;
}

.NewAnswerAuthorHeader {
  display: flex;
  background-color: #f6f6f6;
  padding: 8px;
  border-bottom: 1px solid #e2e2e2;

}

.NewAnswerUserName {
  padding-top: 3px;
}

.NewAnswerForm {
  display: flex;
  flex-direction: column;


}
.NewAnswerText {
  margin: 16px;
  height: 100px;
  width: 95%

}

.SubmitNewAnswerButton {
  padding: 6px 8px;
  color: #fff;
  background-color: #3e78ad;
  border: 1px solid #3a66ad;
  border-radius: 3px;
}

.NewAnswerButtonBar {
  background-color: #f6f6f6;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #999;
}

.NewAnswerButton {
  background-color: #3e78ad;
  color: #fff;
  border: 1px solid #3a66ad;
  padding: 3px 7px 4px 7px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 13px;
  border-radius: 3px;
  margin-left: 8px;
}
