.SearchContainer {
  font-family: Helvetica, Arial, sans-serif;
  font-size:15px;
}

.SearchResultsContainerBackdrop {
  display: block;
  position: fixed;
  box-sizing: border-box;
  top: 49px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  background-color: rgba(43, 48, 56, 0.58);

  z-index: 10;
  transition: background-color 1s;
}

.SearchResulstsContaining {
  position: relative;
  width: 680px;
  margin: auto;

}
.SearchResultsContainer {
  position: absolute;
  top: 10px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  width: 200px;
  background-color: #fff;

}

.SearchResultsContainer li{
  border-bottom: 1px solid #e2e2e2;
  padding: 7px;
}

.SearchResultsContainer li:hover {
  color: #2b6dad;

}
