
.NewQuestionLink {
  font-family: Georgia, serif;

  font-size: 24px;
  color: #999;
  font-weight: bold;
}

.NewQuestionLink:hover {
  color: #2b6dad;
}

.NewQuestionContainer {
  display: block;
  position: fixed;
  box-sizing: border-box;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  background-color: rgba(43, 48, 56, 0.58);

  z-index: 10;
  transition: background-color 1s;
}

.NewQuestionBox {
  background-color: white;
  width: 65%;
  max-width: 500px;
  height: auto;
  border: 1px solid #e2e2e2 ;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 10%;

}

.NewQuestionBody {
  border-bottom: 1px solid #e2e2e2;
  padding: 32px 32px 24px;
}

.NewQuestionInput {
  font-size: 24px;
  margin-top: 4px;
  font-weight: bold;
  width: 100%;
}
.NewQuestionButtonBar {
  background-color: #f6f6f6;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  font-family: $sans-serif;
  font-size: 15px;
  color: #999;
}

.NewQuestionButton {
  padding: 6px 8px;
  color: #fff;
  background-color: #3e78ad;
  border: 1px solid #3a66ad;
  border-radius: 3px;
  margin-left: 16px;
}
