.QuestionShowContainer {
  width: 900px;
  margin: auto;
  display: flex;
}

.QuestionShow {
  width: 602px;
  padding-top: 30px;
  margin-left: 20px;
}

.QuestionShowQuestion{
  padding-bottom: 32px;
  border-bottom: 1px solid #e2e2e2;
}

.QuestionShowTopics {
  display: flex;
  margin-bottom: 8px;
}

.QuestionShowTopics li {
  color: #808393;
  background-color: #f4f4fa;
  padding: 4px 8px;
  border-radius: 12px;
  font-family: $sans-serif;
  font-size: 13px;
  margin-right: 4px;
}

.QuestionShow h1 {
  font-family: $serif;
  font-size: 27px;
  font-weight: bold;
  padding-bottom: 10px;
}

.QuestionShowDetails {
  font-family: $sans-serif;
  font-size: 15px;
  padding-bottom: 15px;
}

.QuestionShowButtonLine {
  display: flex;
  justify-content: space-between;
}

.NewAnswerButton {
  font-family: $sans-serif;
  font-size: 13px;
  background-color: #f1f8fb;
  padding: 3px 7px 4px 26px;
  border-radius: 3px;
  border: 1px solid #bbcadc;
  color: #2b6dad;
  background-image: url(//qsf.ec.quoracdn.net/-3-images.new_grid.ask_blue.svg-26-dfa8709bc22d57f8.svg);
  background-size: 15px 15px;
  background-position: 6px center;
  background-repeat: no-repeat;
}

.NewAnswerButton:hover {
  border: 1px solid #2b6dad;

}

.DotsContainer {
  font-family: $sans-serif;
  position: relative;
}

.DotsLink {
  padding: 2px 6px 10px;
}
.DotsLink:hover{
  background-color: #f4f4f4;
}

.Dots {
  color: #999;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
}

.dotsDropdown {
  position: absolute;
  top: 40px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  width: 186px;
  right: 0;
  background-color: #f6f6f6;
}

.dotsDropdown li {
  padding: 8px 16px;
  border-bottom: 1px solid #e2e2e2;
  font-size: 13px;
  color: #2b6dad;
}

.dotsDropdown li:hover {
  background-color: #d2e9f3;
}

.EditQuestion {
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  font-size: 17px;
  font-family: Georgia, serif;
  border-radius: 3px;
}

.EditQuestionTitle {
  border-bottom: 1px solid #e2e2e2;
  display: block;
  width: 589px;
  margin: 0px;
  font-size: 27px;
  font-weight: bold;
  padding: 6px;
}

.EditQuestionDetails {
  display:block;
  width: 576px;
  font-family: $sans-serif;
  font-size: 15px;
  padding: 12px;
}

.EditQuestionButtonBar {
  background-color: #f6f6f6;
  padding: 7px;
  display: flex;
  justify-content: flex-end;
  font-family: $sans-serif;
  font-size: 13px;
  color: #999;
}

.EditQuestionSubmit {
  padding: 6px 8px;
  color: #fff;
  background-color: #3e78ad;
  border: 1px solid #3a66ad;
  border-radius: 3px;
  margin-left: 10px;
}

.CancelButton:hover {
  text-decoration: underline;
}
