
.NavBar {
  border-bottom: 1px solid #ccc;
  border-top: 2px solid #AA2200;

}

nav {
  display: flex;
  width: 900px;
  margin: auto;
  justify-content: space-between;
}

.NavBegin {
  display: flex;
}

.HomeLink {
  color: #AA2200;
  text-decoration: none;
  font-family: 'Arbutus Slab', serif;
  font-size: 28px;
  font-weight: bold;
  padding: 7px 0px;

}

.AskOrSearch {
  background-color: #f4f4f4;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  padding: 4px 8px;
  margin: 9px 0px 0px 20px;
  color: #333;
  font-size: 15px;
  font-family: $sans-serif;
  font-weight: lighter;
  width: 266px;

}

.NavAskQuestionButton {
  font-size: 13px;
  font-family: $sans-serif;
  border: 1px solid #ced1e1;
  padding: 6px 8px 4px 8px;
  color: #585a61;
}

.NavAskQuestionButton:hover {
  border: 1px solid #333;
}

.NavMiddle {
  font-size: 14px;
  font-family: $sans-serif;
  color: #999;
  display: flex;
  justify-content: space-between;
}

.NavMiddle a {
  padding: 15px 20px;
}

.NavMiddle a:hover {
  background-color: #f4f4f4;

}
.NavEnd {
  display: flex;
  align-items: center;
  font-family: $sans-serif;
  padding: 0px 13px 0px 13px;
  position: relative;
}

.NavEnd:hover {
  background-color: #f4f4f4;
}

.NavUserName {
  font-size: 14px;
  color: #999;

  padding-left: 10px;
}

.NavUserPhoto {
  height: 22px;
  width: 22px;
  border: 0;
  border-radius: 50%;
}

.UserMenu {
  position: absolute;
  top: 55px;
  border: 1px solid #e2e2e2;
  border-radius: 3px;

  width: 125px;
  right: 0;
}

.UserMenuMain {
  font-size: 14px;
  color: #2b6dad;
  background-color: #f6f6f6;
}

.UserMenuMain li {
  padding: 8px 16px;
  border-bottom: 1px solid #e2e2e2;

}

.UserMenuMain li:hover {
  background-color: #d2e9f3;
}

.UserMenuSub {
  font-size: 12px;
  background-color: #eee;
  color: #999;
  padding: 4px 16px;
}

.UserMenuSub li:first-of-type {
  margin-bottom: 4px;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 4px;
}
