.session-form-box h2 {
  font-family: Georgia,Times,"Times New Roman",serif;
  font-size: 19px;
  font-weight: 400;
  color: #999;
  text-align: center;
}

.session-form-box h1 {
  font-family: Georgia,Times,"Times New Roman",serif;
  font-size: 60px;
  font-weight: 800;
  color: #AA2200;
  text-align: center;
}
